* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Inter';
    background: #fff;
    margin: 0 auto;
}

/* banner Part css */
#banner {

    background-image: url("../images/background.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center;

}

.banner-body {
    background: linear-gradient(360deg, #121212 15%, rgba(137, 34, 14, 0.4) 100%);
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 100px;
}

.banner-body h1 {
    font-size: 50px;
    font-weight: bold;
    color: #fefffe;
}

.banner-body p {
    margin: 20px 20px 50px;
    color: #fff;
    font-size: 15px;
    font-style: normal;
}

.banner-body .donate-now-button {
    font-family: 'Poppins';
    color: #fff;
    font-style: normal;
    background-color: #FF5959;
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none;
}

/* banner Part css End */

/* Donate Money part */
#donate-money {
    padding: 50px 100px 50px 100px;
    background-color: #fff;
}

.donate-money-body {
    background-color: #fff;
    color: #121212;
    text-align: center;

}

.donate-money-body h1 {
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 700;
    margin: 10px;
}

.donate-money-body p {
    color: #707070;
    font-size: 15px;
    margin: 10px;
    font-weight: 500;
}

.donate-money-body .money-list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

}

.donate-money-body .money-list .taka {
    background-color: #FAFAFA;
    text-align: center;
    font-weight: bold;
    margin: 20px;
    padding: 30px;

}

.donate-money-body .money-list .taka-selected {
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 10px;
    font-weight: bold;
    font-size: 25px;
    margin: 20px;
    padding: 30px;

}

.others-taka-input {
    width: 60%;
    padding: 20px;
    border: none;
    border-bottom: 2px solid #DADADA;
    text-align: center;
}


.donate-money-body .button {
    margin-top: 20px;
}

.donate-money-body .donate-now-button {

    font-family: 'Poppins';
    color: #fff;
    font-style: normal;
    background-color: #FF5959;
    border-radius: 10px;

    padding: 10px 20px;
    text-decoration: none;
}

/* Donate Money part End */


/* Our Donate Plan part */
#donate-plan {
    padding: 50px 100px 50px 100px;
    background-color: #fff;
}


.donate-plan-body {
    background-color: #fff;
    color: #121212;
    text-align: center;

}

.donate-plan-body h1 {
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 700;
    margin: 10px;
}

.donate-plan-body p {
    color: #707070;
    font-size: 15px;
    margin: 10px;
    font-weight: 500;
}

.donate-plan-body .plan-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;

}

.donate-plan-body .plan-list .card {
    text-align: left;
    border-radius: 5px;
    flex: 30%;
    padding: 30px;
    margin: 50px 10px 20px 10px;
}

.color1 {
    background: rgba(255, 89, 89, 0.1);
}

.color2 {
    background: rgba(73, 120, 126, 0.1);
}

.color3 {
    background: rgba(60, 6, 107, 0.1);
}


.donate-plan-body .plan-list .card img {
    width: 50px;
}

.donate-plan-body .plan-list .card h2 {
    padding-top: 10px;
    font-size: 20px;
    color: #121212;
}

.donate-plan-body .plan-list .card p {
    padding-top: 10px;
    font-size: 14px;
    margin: 0;
    color: #707070;
}

/* Our Donate Plan part End*/

/* Events part */
#events {
    padding: 50px 100px 50px 100px;
    background-color: #fff;
}


.events-body {
    background-color: #fff;
    color: #121212;
    text-align: center;

}

.events-body h1 {
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 700;
    margin: 10px;
}

.events-body p {
    color: #707070;
    font-size: 15px;
    margin: 10px;
    font-weight: 500;
}

.events-body .events-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
}

.events-body .events-list .card {
    text-align: left;
    border-radius: 5px;
    flex: 30%;
    background-color: rgba(189, 186, 186, 0.192);

    margin: 50px 10px 20px 10px;
}


.events-body .events-list .card img {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
}

.events-body .events-list .card h2 {
    padding: 10px;
    font-size: 20px;
    color: #121212;
}

.events-body .events-list .card p {
    padding: 10px;
    font-size: 14px;
    margin: 0;
    color: #707070;
}

.events-body button {
    margin-top: 20px;
    background-color: #FF5959;
    border: none;
    color: #fff;
    border-radius: 10px;
    padding: 20px 50px;
}

/* Events part End*/


/* News letter */
#news-letter {


    padding: 50px 100px 50px 100px;
    background-color: #fff;
}


.news-letter-body {
    background-color: #fff;
    color: #121212;
    text-align: center;

}

.news-letter-body h1 {
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 700;
    margin: 10px;
}

.news-letter-body p {
    color: #707070;
    font-size: 15px;
    margin: 10px;
    font-weight: 500;
}

.news-letter-body .box {

    background-color: #FFF4D6;
    padding: 50px 100px 50px 100px;
    margin: 30px auto;
    width: 60%;
}

.news-letter-body .box .email-box {
    border: none;
    background-color: #D9D9D9;
    padding: 20px;
    color: #AA9F9F;
    width: 40%;
}

.news-letter-body .box .email-submit-button {
    border: none;
    background-color: #FF5959;
    padding: 20px;
    color: #fff;
    width: 20%;
}



/* News letter end */

/* Footer Part */

footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #0B0D17;
    text-align: center;
    color: #fff;
}

footer .humble-text {
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: #FF5959;
}

footer .text {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    color: #fff;
}

/* Footer Part End*/